<a href="https://colab.research.google.com/github/nad369/covid-19/blob/master/DC_Production_Plan%5B_docx%5D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pandas

In [ ]:
pip install docx2txt

In [ ]:
import pandas as pd
df = pd.read_excel("INVOICES.xlsx")
df.head()

In [ ]:
import docx2txt
work_order  = list()
batch_no = list()
spec = list()
list1 = list()
ran = range(1395,1400)
for j in ran:
  list1.append(str(j)+".docx")
print(list1)
for i in list1:
  my_text = docx2txt.process(i)
#BATCH NUMBER
  x = my_text.find("BATCH NO.")
  g = x+1
  a = my_text[g:840]
  c = a.find(":")
  e = a[22:42]
  n = e.rstrip()
  #print(n)
#SPECIFICATION
  z = my_text.find("SPECIFICATION")
  o = z+1
  p = my_text[o:756]
  q = p.find(":")
  r = p[19:42]
  s = r.rstrip()
  #print(s)
#WORK ORDER NUMBER  
  y = my_text.find("W.O")
  if (y != -1):
    h = y+1
    b = my_text[h:915]
    d = b.find(":")
    f = b[26:46]
    m = f.rstrip()
    #print(m)
  else:
    print("NO WORK ORDER")

  work_order.append(m)
  batch_no.append(n)
  spec.append(s)

print(work_order)
print(batch_no)
print(spec)

In [30]:
df1 = pd.DataFrame()
df1['BATCH NO'] = batch_no
df1['WORK ORDER'] = work_order
df1['SPECIFICATION'] = spec
df1.head(30)

               BATCH NO WORK ORDER            SPECIFICATION
0     DOR/L/23841/SHEET     473012  AMS QQ-Q-250/6 2024 CLA
1     DOR/S/22865/SHEET     477149             321 AMS 5510
2  DOR/L/22137/L-PROFIL     474068             3.1354 T3511
3       DOR/S/24879/R.B     470986           LN668-1.7734.4
4                156098     473977            LN29940-05014

In [26]:
df1.to_excel("docx-2.xlsx")